*{margin:0 auto;
  padding: 0;}


body{background-image: url(Beautiful-Pok%C3%A9mon-GO-Wallpaper.jpg);
     max-width:1000px;
    }


@media screen and (max-width:500px){
    main  h2{font-size: 25px }
    footer{display: none}
    main .image{width: 95%;}
    main  {text-align: justify}
   .menu{display: none !important}
   label{display: block !important}
   }
    @media screen and (min-width:500px){
        .menu28{opacity:0;}
        header{height: 180px}
   }
    @media screen and (min-width:965px){
        .menu28{opacity:0;}
        header{height: 100px}
   }



h2{font-weight: normal;
font-size:40px;
font-family: tahoma;
padding:10px ;
text-shadow: 0px  1px 1px black;
color:white;
white-space: nowrap;
margin-left:-10px}

a{text-decoration: none;
color:white}

a:hover{text-decoration: underline; }

h1 a{text-decoration: none;
color:white}

li{list-style: none}

header{width:100%;
min-height:100px;background-image: url(pokemon_logo2.png);text-align: center;font-weight: bold;box-shadow: 0px 5px 5px 0px }

.menu{width:145px;height:20px;display: inline-block;margin:12px 5px 5px 5px ;text-shadow: 1px 1px 1px black;font-family: arial;padding: 20px 0px 20px 0px;}

main{background-color: rgba(84,110,117,.8);padding:10px;height:100%;font-family: tahoma;font-size:20px;color:whitesmoke}
footer{min-height:50px;background-image: url(Background2.png);text-align: center}

.image{width: 250px;
    float: right;
    position: relative;
    margin:10px;
    box-shadow:0px 0px 10px 5px black;
   }

.typs{width: 100%;}

footer{background-image: url(pokemon_logo2.png)}
footer div{font-weight: bold;position: relative;bottom: 10px}

/* menu2  */
.menu28{height:375px;
    width: 100%;
}
.menu22{height:54px;
    text-align: center;
    color:white;
    font-family:tahoma;
    font-weight: bold;font-size:20px;
    text-shadow: 1px 1px 1px black;
    position: relative;
    top:70px
    }

/* menu2 end */

input{display: none}
label{display: none}
label:before{content:"="; font-size: 90px;position: absolute;right:5%}
label:after{content:"="; font-size: 90px;position: absolute;top:-15px;right:5%}
.menu28{display: none}
input:checked ~ .menu28{display: block !important }
input:checked~label{color:white ;transition-duration: 0.5s}
