body {
  font-family: "Verdana", "Tahoma", "Arial";
  font-size: 14px;
  line-height: 1;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
  position: relative;
  height: 100%;
}
body a {
  text-decoration: none;
}
body h1,
body h2,
body h3 {
  margin: 0px;
  cursor: default;
  text-transform: uppercase;
}
body hr {
  background-color: #212121;
  border: none;
  height: 3px;
  margin-left: 40px;
  margin-right: 40px;
}
body button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.active {
  background-color: #212121;
  padding: 10px;
}
.hidden {
  overflow: hidden;
}
.none {
  display: none;
}
.height {
  height: 53px !important;
}
.margin {
  margin-top: 0px !important;
}
.padding {
  padding-top: 0px !important;
}
.minus:after {
  content: "-";
  left: 10px;
  position: absolute;
  top: 0;
}
.plus:after {
  content: "+";
  left: 10px;
  position: absolute;
}
header {
  height: 60px;
  background-color: #E01B19;
  width: 100%;
  color: #c0c0c0;
  border-bottom: solid 1px black;
  position: relative;
}
header span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 0 45px;
  vertical-align: middle;
  display: inline-block;
}
header span a {
  color: #c0c0c0;
}
header span a:hover {
  color: #acaaac;
  text-decoration: none;
}
header ul {
  display: inline-block;
  position: absolute;
  right: 45px;
  bottom: -5px;
}
header ul li {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-bottom: 2px transparent solid;
}
header ul li a {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header ul li:hover {
  border-bottom: 2px white solid;
}
header ul li:first-child a {
  background-position: left;
}
header ul li:nth-child(2) a {
  background-position: -35px 0px;
}
header ul li:last-child a {
  background-position: right;
}
header h1 {
  font-size: 12px;
}
.shedule .header-shedule {
  position: relative;
  color: #2363BE;
  font-size: 16px;
  font-weight: bold;
  background-color: #131313;
  display: inline-block;
  width: 100%;
  z-index: 2000;
}
.shedule .header-shedule h2 {
  margin-left: 45px;
  margin-top: 15px;
}
.shedule .header-shedule button {
  position: absolute;
  right: 45px;
  top: 17px;
  background-color: #212121;
  padding: 2px 10px 2px 25px;
  color: #2363BE;
  font-size: 16px;
  font-weight: bold;
}
.shedule-list {
  height: 108px;
  background-color: #131313;
  color: #c0c0c0;
  font-weight: bold;
}
.shedule-list .list {
  display: block;
  height: 105px;
  position: relative;
  background-color: #131313;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.shedule-list .list .time {
  display: inline-block;
  width: 195px;
  line-height: 1.5;
  margin-left: 45px;
  margin-top: 1px;
}
.shedule-list .list .live {
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  position: absolute;
  top: 10px;
  left: 250px;
}
.shedule-list .list .live a {
  color: #c0c0c0;
}
.shedule-list .list .live a:hover {
  color: #acaaac;
  text-decoration: none;
}
.shedule-list .list .title {
  font-size: 14px;
  text-transform: none;
  width: 350px;
  left: 340px;
  position: absolute;
  top: 15px;
  color: forestgreen;
}
.shedule-list .list .fight-card {
  right: 150px;
  position: absolute;
  top: 15px;
  color: #4d7bef;
}
.shedule-list .list .fight-card:hover {
  text-decoration: underline;
}
.shedule-list .list .type-fight {
  position: absolute;
  top: 15px;
  right: 45px;
}
.shedule-list .list .fight-list {
  display: block;
  margin: 5px 45px 0 45px;
  font-weight: normal;
  color: #FFF8DC;
  font-size: 12px;
}
.shedule-list .list .fight-list hr {
  background-color: #E01B19;
  height: 2px;
  margin: 5px 0 0 0;
}
@media (max-width: 930px) {
  .shedule-list .list .fight-card {
    right: 130px;
    top: 14px;
  }
}
@media (max-width: 880px) {
  .shedule-list {
    font-size: 12px;
    height: 89px;
  }
  .list {
    margin-bottom: -10px;
  }
  .shedule-list .list .title {
    font-size: 12px;
    left: 300px;
    width: 250px;
    top: 10px;
  }
  .shedule-list .list .live {
    font-size: 20px;
    left: 225px;
    top: 5px;
  }
  .shedule-list .list .fight-card {
    font-size: 10px;
    top: 10px;
  }
  .shedule-list .list .type-fight {
    top: 12px;
  }
  .shedule-list .list .fight-list {
    font-size: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .shedule-list {
    font-size: 12px;
    height: 89px;
  }
  .list {
    margin-bottom: -10px;
  }
  .shedule-list .list .time {
    font-size: 10px;
    width: 130px;
  }
  .shedule-list .list .title {
    font-size: 10px;
    left: 250px;
    width: 120px;
    top: 5px;
  }
  .shedule-list .list .live {
    font-size: 20px;
    left: 170px;
    top: 5px;
  }
  .shedule-list .list .fight-card {
    font-size: 10px;
    right: 120px;
    top: 10px;
  }
  .shedule-list .list .type-fight {
    top: 10px;
  }
  .shedule-list .list hr {
    margin-top: 15px;
  }
  .shedule-list .list .fight-list {
    font-size: 10px;
    margin-top: 5px;
  }
}
@media (max-width: 560px) {
  .shedule .header-shedule h2 {
    margin-left: 5px;
  }
  .shedule .header-shedule button {
    right: 5px;
  }
  .shedule .header-shedule hr {
    margin-left: 5px;
    margin-right: 5px;
  }
  .shedule-list {
    font-size: 12px;
    height: 90px;
  }
  .shedule-list .list {
    margin-bottom: -12px;
  }
  .shedule-list .list hr {
    margin-left: 5px;
    margin-right: 5px;
  }
  .shedule-list .list .time {
    font-size: 10px;
    width: 130px;
    margin-left: 5px;
    padding: 5px 0px 5px 0px;
  }
  .shedule-list .list .title {
    font-size: 10px;
    left: 200px;
    width: 120px;
    top: 10px;
  }
  .shedule-list .list .live {
    font-size: 20px;
    left: 130px;
    top: 10px;
  }
  .shedule-list .list .fight-card {
    font-size: 10px;
    top: 13px;
    right: 80px;
  }
  .shedule-list .list .type-fight {
    top: 14px;
    right: 5px;
  }
  .shedule-list .list .fight-list {
    font-size: 10px;
    margin: -5px 5px 0 5px;
  }
}
@media (max-width: 460px) {
  .shedule-list .list .live {
    font-size: 15px;
    left: 130px;
    top: 12px;
  }
  .shedule-list .list .title {
    font-size: 10px;
    left: 185px;
    width: 150px;
    top: 12px;
  }
  .shedule-list .list .fight-card {
    font-size: 10px;
    right: 20px;
    top: 10px;
  }
  .shedule-list .list .fight-list {
    margin-top: -10px;
  }
  .shedule-list .list .type-fight {
    top: 22px;
    right: 5px;
    font-size: 10px;
  }
  .shedule-list .list hr {
    opacity: 0;
  }
  .shedule-list .fight-list hr {
    opacity: 1;
  }
}
@media (max-width: 360px) {
  .shedule-list .list .live {
    font-size: 15px;
    left: 120px;
    top: 12px;
  }
  .shedule-list .list .title {
    font-size: 10px;
    left: 170px;
    width: 150px;
    top: 12px;
  }
  .shedule-list .list .fight-card {
    font-size: 10px;
    right: 5px;
    top: 6px;
  }
  .shedule-list .list .fight-list {
    margin-top: -10px;
  }
  .shedule-list .list .type-fight {
    top: 15px;
    right: 2px;
    font-size: 10px;
  }
  .shedule-list .list hr {
    background-color: #131313;
  }
}
.menu {
  width: 220px;
  background-color: #131313;
  margin-top: 145px;
  float: left;
  height: 100vh;
}
.menu ul {
  list-style: none;
  padding-top: 50px;
}
.menu ul li {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0 25px 0;
  cursor: pointer;
}
.menu ul li a {
  text-decoration: none;
  color: #C1C1C1;
}
.menu ul .News a {
  color: #4d7bef;
}
.menu ul .Live-button a {
  color: #E01B19;
}
.menu ul li:hover {
  text-decoration: underline;
}
.form {
  width: 220px;
  background-color: #131313;
  transition: 0.3s ease-in-out;
  padding-bottom: 20px;
  height: 100vh;
}
.form span {
  padding-top: 10px;
  color: #aaaaaa;
  font-size: 14px;
  padding: 5px 5px 5px 15px;
  display: inline-block;
}
.form form {
  margin-left: 15px;
  margin-top: 10px;
}
.form input {
  width: 180px;
  height: 25px;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  padding-left: 5px;
}
.form button {
  font-size: 20px;
  color: white;
  border: solid 1px white;
  margin-top: 10px;
  margin-left: 60px;
}
.form button:hover {
  border: solid 1px green;
}
.news-video,
.kickboxing-video,
.mma-video,
.boxing-video {
  padding-top: 215px;
  color: #C1C1C1;
  transition: 0.3s ease-in-out;
  z-index: 10;
  display: block;
}
.news-video .news-container,
.kickboxing-video .news-container,
.mma-video .news-container,
.boxing-video .news-container,
.news-video .kickboxing-container,
.kickboxing-video .kickboxing-container,
.mma-video .kickboxing-container,
.boxing-video .kickboxing-container,
.news-video .mma-container,
.kickboxing-video .mma-container,
.mma-video .mma-container,
.boxing-video .mma-container,
.news-video .boxing-container,
.kickboxing-video .boxing-container,
.mma-video .boxing-container,
.boxing-video .boxing-container {
  margin: 10px 40px 10px 250px;
  background-color: #191919;
  position: relative;
  z-index: 10;
  text-align: center;
}
.news-video .video,
.kickboxing-video .video,
.mma-video .video,
.boxing-video .video {
  width: 650px;
  height: 365px;
  display: inline-block;
  margin-top: 10px;
}
.news-video h2,
.kickboxing-video h2,
.mma-video h2,
.boxing-video h2 {
  text-align: center;
  padding: 10px;
}
.news-video span,
.kickboxing-video span,
.mma-video span,
.boxing-video span {
  font-size: 16px;
  text-align: left;
  display: inline-block;
  padding: 10px;
  width: 650px;
}
.live-video {
  padding-top: 215px;
  transition: 0.3s ease-in-out;
}
.live-video .live-container {
  margin: 10px 40px 10px 230px;
  background-color: #191919;
  z-index: 10;
  text-align: center;
}
.live-video .video {
  width: 760px;
  height: 500px;
  margin: 0 auto;
  padding-top: 10px;
}
.live-video h3 {
  color: white;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
}
.live-video ul {
  display: inline-block;
  list-style: none;
  text-align: center;
}
.live-video ul span {
  color: yellow;
  font-size: 20px;
}
.live-video ul li {
  color: white;
  font-size: 16px;
  padding-top: 5px;
}
.live-video .help {
  color: chocolate;
  line-height: 1.5;
  display: block;
  margin-top: 20px;
}
.form-1 {
  display: none;
  text-align: center;
}
.form-1 input {
  width: 180px;
  height: 25px;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  padding-left: 5px;
  margin-bottom: 10px;
}
.form-1 button {
  font-size: 20px;
  color: white;
  border: solid 1px white;
  margin-left: 5px;
  position: relative;
  bottom: -2px;
}
.form-1 button:hover {
  border: solid 1px green;
}
@media (max-width: 1070px) {
  .menu {
    width: 180px;
  }
  .news-video .news-container,
  .kickboxing-video .kickboxing-container,
  .mma-video .mma-container,
  .boxing-video .boxing-container {
    margin: 10px 40px 10px 190px;
  }
  .form form input {
    width: 140px;
  }
  .form form button {
    margin-left: 42px;
  }
  .form {
    width: 180px;
  }
  .form span {
    width: 160px;
    font-size: 13px;
  }
  .live-video .live-container {
    margin: 10px 40px 10px 190px;
    text-align: center;
    position: relative;
  }
  .live-video .video {
    margin-top: 10px;
    width: 535px;
    height: 300px;
    display: inline-block;
  }
}
@media (max-width: 960px) {
  .menu {
    width: 180px;
  }
  .live-video .live-container {
    margin: 10px 40px 10px 190px;
    text-align: center;
    position: relative;
  }
  .live-video .video {
    margin-top: 10px;
    width: 560px;
    height: 300px;
    display: inline-block;
  }
  .live-video .video {
    margin-top: 10px;
    width: 560px;
    height: 300px;
    display: inline-block;
  }
  .news-video .video,
  .kickboxing-video .video,
  .mma-video .video,
  .boxing-video .video {
    width: 450px;
    height: 300px;
  }
  .news-video span,
  .kickboxing-video span,
  .mma-video span,
  .boxing-video span {
    width: 450px;
  }
}
@media (max-width: 820px) {
  .live-video .live-container {
    margin: 10px 40px 10px 190px;
    text-align: center;
    position: relative;
  }
  .live-video .video {
    margin-top: 10px;
    width: 450px;
    height: 300px;
    display: inline-block;
  }
}
@media (max-width: 710px) {
  .menu hr {
    display: none;
  }
  .chat {
    display: none;
  }
  #wrapper {
    display: none;
  }
  .news-video span,
  .kickboxing-video span,
  .mma-video span,
  .boxing-video span {
    width: 450px;
    top: 250px;
  }
  .menu {
    width: 100%;
    z-index: 100;
    height: 40px;
    opacity: .9;
  }
  .menu ul {
    margin-top: -75px;
    text-align: center;
    height: 40px;
    margin-left: -50px;
  }
  .menu ul li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
  .news-video,
  .kickboxing-video,
  .mma-video,
  .boxing-video {
    margin-top: 50px;
  }
  .news-video .news-container,
  .kickboxing-video .kickboxing-container,
  .mma-video .mma-container,
  .boxing-video .boxing-container {
    margin: 0px 40px 10px 35px;
  }
  footer ul {
    display: none;
  }
  footer ul {
    left: 50%;
    margin-left: -110px;
  }
  .form {
    display: none;
  }
  .form-1 {
    display: block;
  }
  .live-video .video {
    margin-top: 10px;
    width: 550px;
    height: 350px;
    display: inline-block;
  }
  .live-video .live-container {
    margin: 50px 0px 10px 0px;
    text-align: center;
    position: relative;
  }
}
@media (max-width: 580px) {
  .news-video span,
  .kickboxing-video span,
  .mma-video span,
  .boxing-video span {
    width: 400px;
  }
  .news-video,
  .kickboxing-video,
  .mma-video,
  .boxing-video {
    margin-top: 50px;
  }
  .menu ul li {
    display: inline-block;
    font-size: 14px;
  }
  .news-video .news-container,
  .kickboxing-video .kickboxing-container,
  .mma-video .mma-container,
  .boxing-video .boxing-container {
    margin: 0px 10px 10px 5px;
  }
  .soc {
    display: none;
  }
  .live-video h3 {
    font-size: 16px;
  }
  .live-video .video {
    margin-top: 10px;
    width: 450px;
    height: 250px;
    display: inline-block;
  }
}
@media (max-width: 485px) {
  .news-video span,
  .kickboxing-video span,
  .mma-video span,
  .boxing-video span {
    font-size: 13px;
    width: 350px;
  }
  .news-video .video,
  .kickboxing-video .video,
  .mma-video .video,
  .boxing-video .video {
    width: 350px;
    height: 250px;
  }
  .menu {
    height: 80px;
    position: relative;
  }
  .menu ul {
    margin: -40px 0 0 -55px;
  }
  .menu ul li {
    margin-top: 10px;
    font-size: 14px;
  }
  .news-video .news-container,
  .kickboxing-video .kickboxing-container,
  .mma-video .mma-container,
  .boxing-video .boxing-container {
    margin: 0px 0px 10px 0px;
  }
  .news-video,
  .kickboxing-video,
  .mma-video,
  .boxing-video {
    margin-top: 90px;
  }
  .live-video .video {
    margin-top: 0px;
    width: 300px;
    height: 200px;
    display: inline-block;
  }
  .live-video ul {
    margin-left: -40px;
  }
}
@media (max-width: 320px) {
  .news-video span,
  .kickboxing-video span,
  .mma-video span,
  .boxing-video span {
    width: 300px;
  }
  .news-video,
  .kickboxing-video,
  .mma-video,
  .boxing-video {
    margin-top: 60px;
  }
  .news-video .video,
  .kickboxing-video .video,
  .mma-video .video,
  .boxing-video .video {
    width: 280px;
    height: 200px;
  }
  .menu {
    height: 50px;
  }
  .menu ul {
    padding-top: 40px;
  }
  .menu ul li {
    font-size: 12px;
  }
  .news-video .news-container,
  .kickboxing-video .kickboxing-container,
  .mma-video .mma-container,
  .boxing-video .boxing-container {
    margin: 10px 0px 10px 0px;
  }
}
@media (min-width: 1400px) {
  .live-video .video,
  .news-video .video,
  .kickboxing-video .video,
  .mma-video .video,
  .boxing-video .video {
    width: 80vh;
    height: 55vh;
  }
  .news-video span,
  .kickboxing-video span,
  .mma-video span,
  .boxing-video span {
    width: 80vh;
    font-size: 20px;
  }
}
footer {
  background-color: #131313;
  position: relative;
  height: 100px;
  z-index: 200;
  margin-top: 50vh;
}
footer ul {
  position: absolute;
  top: 30px;
}
footer ul li {
  display: inline-block;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-bottom: solid 2px transparent;
}
footer ul li a {
  text-decoration: none;
  color: #C1C1C1;
}
footer ul li:hover {
  border-bottom: solid 2px blue;
}
footer .soc {
  display: inline-block;
  position: absolute;
  right: 45px;
  top: 15px;
}
footer .soc li {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-bottom: 2px transparent solid;
  background-color: white;
}
footer .soc li a {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .soc li:hover {
  border-bottom: 2px blue solid;
}
footer .soc li:first-child a {
  background-position: left;
}
footer .soc li:nth-child(2) a {
  background-position: -35px 0px;
}
footer .soc li:last-child a {
  background-position: right;
}
.chat {
  width: 50px;
  height: 100px;
  top: 50px;
  position: fixed;
  right: 0px;
  background: #242242;
  cursor: pointer;
  border-radius: 10px;
  border: solid 2px transparent;
  z-index: 2000;
}
.chat span {
  color: white;
  font-size: 16px;
  transform: rotate(-90deg);
  display: block;
  margin-top: 40px;
  text-transform: uppercase;
}
.chat:hover {
  border: solid 2px white;
  transition: ease-in-out 0.3s all;
}
#wrapper,
#loginform {
  background: #242242;
  width: 250px;
  position: fixed;
  right: 5px;
  bottom: 10px;
  padding-bottom: 10px;
}
#loginform {
  padding-top: 18px;
}
#exit {
  color: #4d7bef;
}
#loginform p {
  margin: 5px;
  color: #4d7bef;
}
#submitmsg {
  border: none;
  cursor: pointer;
}
#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #DDDDDD;
  height: 300px;
  width: 210px;
  border: 1px solid black;
  overflow: auto;
}
#usermsg {
  width: 170px;
  border: 1px solid black;
  margin-left: 15px;
  background: #DDDDDD;
}
#submit {
  width: 60px;
  border: none;
}
.error {
  color: #ff0000;
}
#menu {
  padding: 0px 25px 0px 25px;
}
.welcome {
  float: left;
  color: white;
}
.logout {
  float: right;
}
.msgln {
  margin: 0 0 5px 0;
}
